.main{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-around;
  padding-top:20px;
  font-family: 'Raleway', sans-serif;
}

.personalInfo{
  font-family: 'Raleway', sans-serif;
  border: solid;
}

.myDrinks{
  font-family: 'Raleway', sans-serif;
  border: solid;

}

.favourites{
  font-family: 'Raleway', sans-serif;
  border: solid;

}

.mat-list-item{
  border: solid;
}

.favouriteDrinkList{
  cursor: pointer;
}

mat-list-item:hover{
  background-color: blue;
}
