<div class="main">

  <div class="personalInfo">
    <h2>Personal Information</h2>
    <mat-list>
      <mat-list-item>{{user.firstName}}</mat-list-item>
      <mat-list-item>{{user.lastName}}</mat-list-item>
      <mat-list-item>{{user.email}}</mat-list-item>
    </mat-list>
    <button mat-raised-button="" color="primary" (click)="openDialog()">Change Password</button>
  </div>

  <div class="myDrinks">
    <h2>My Drinks</h2>
    <app-my-page-drink-list></app-my-page-drink-list>
  </div>

  <div class="favourites">
    <h2>My Favourite Drinks</h2>
    <mat-list>
      <mat-list-item>FAV1</mat-list-item>
      <mat-list-item>FAV2</mat-list-item>
      <mat-list-item>FAV3</mat-list-item>
    </mat-list>

  </div>
</div>

