<div class="header">
  <h2>My Page</h2>
</div>

<div class="main">

  <div class="personalInfo">
    <h3>Personal Iinformation</h3>
    <div class="text">{{user.firstName}} {{user.lastName}}</div>
    <div class="text">{{user.email}}</div>
    <br>
    <button mat-raised-button="" color="primary" (click)="openDialog()">Change Password</button>
  </div>

  <div class="myDrinks">
    <h3>My drinks</h3>
    <app-my-page-drink-list></app-my-page-drink-list>
  </div>

  <div class="favourites">
    <h3>My favourite drinks</h3>
    <div
      class="favouriteDrinkList">
      <div *ngFor="let drink of favouriteDrinks"  (click)="onSelect(drink)">
        <div class="drinkListItem">
          <a (click)="navigateToDrink(drink.id)">
            <mat-list>
              <mat-list-item class="mat-list-item">{{drink.name}}</mat-list-item>
            </mat-list>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

