<h2>Drinkorama list</h2>

<h3>Seach Bar</h3>

<div class="listHolder">

  <div class="categories">
    HERE IS THE CATEGORY BOX
  </div>
  
  <mat-list>
    <mat-list-item *ngFor="let drink of drinks">
      <a routerLink="/drink/{{drink.id}}">
        <img matListAvatar src={{drink.image}} alt="Drink image">
        <h3 matLine> {{drink.name}}</h3>
      </a>
    </mat-list-item>
  </mat-list>

  <!--
  <ul class="drinkList">
    <li *ngFor="let drink of drinks" (click)="onSelect(drink)">
      <a routerLink="/drink/{{drink.id}}">
        <div class="drinkListItem">
          <img width="128" height="128" src={{drink.image}} alt="{drink.name} image">
          <h3>{{drink.name}}</h3>
        </div>
      </a>
    </li>
  </ul>
  -->
</div>