

<mat-form-field class="searchHolder">
    <input matInput type="text" placeholder="Search" [(ngModel)]="value"/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<div class="listHolder">

  <div class="categories">
    <div>
      <h2>Alcohol</h2>
        <mat-selection-list #spirits>
          <mat-list-option *ngFor="let alcohol of typesOfAcohol">
            {{alcohol}}
          </mat-list-option>
        </mat-selection-list>
    </div>

    <div>
      <h2>Glass</h2>
      <mat-selection-list #glasses>
          <mat-list-option *ngFor="let glass of typesOfGlass">
            {{glass}}
          </mat-list-option>
        </mat-selection-list>
    </div>
  </div>

  <div class="drinkList">
    <div *ngFor="let drink of drinks" (click)="onSelect(drink)">
      <div class="drinkListItem">
        <a (click)="navigateToDrink(drink.id)">
        <img class="drinkImage" src="{{drink.image}}" alt="{drink.name} image">
        <div class="drinkName">{{drink.name}}</div>
        <div class="subHeader">Author: {{drink.authorName}}</div>
        <div class="text">"{{drink.description}}"</div>
        </a>
      </div>
    </div>
  </div>
  <!--
  <ul class="drinkList">
    <li *ngFor="let drink of drinks" (click)="onSelect(drink)">
      <a routerLink="/drink/{{drink.id}}">
        <div class="drinkListItem">
          <img width="128" height="128" src={{drink.image}} alt="{drink.name} image">
          <h3>{{drink.name}}</h3>
        </div>
      </a>
    </li>
  </ul>
  -->
</div>
