<br>
<div class="searchFields">
  <mat-form-field class="searchInput">
      <input #serachField matInput type="text" placeholder="Search" (keyup)="searchDrink($event)"/>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  
  <mat-form-field class="selectInput">
    <mat-select
      (change)="changeView($event)"
      placeholder="View:" value="grid">
      <mat-option value="grid">Gridview</mat-option>
      <mat-option value="carousel">Slideshow</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="selectInput" >
    <mat-select
      (change)="changeSort($event)"
      placeholder="Sort by:" value="name">
      <mat-option value="name">Name</mat-option>
      <mat-option value="author">Author</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div id="carouselContainer" >
  <div
    *ngIf="!gridView"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="drinks"
    [width]="512"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>
  <ng-template #prev >
    <img src="../../assets/left.png" id="left"  height="64" width="64" style="cursor: pointer"/>
  </ng-template>
  <ng-template #next>
    <img src="../../assets/right.png" id="right" height="64" width="64" style="cursor: pointer"/>
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="items" (click)="navigateToDrink(item.id)">
      <img width="512" src="{{ item.image }}" class="carouselImage">
      <h2 id="title"><span>{{item.name}} <br />&#160;By {{item.authorName}}</span></h2>
    </div>
  </ng-template>
</div>

<div class="listHolder" *ngIf="gridView">
  <div class="categories">
    <div class="lastFive" *ngIf="gridView">
      <h2>Last five</h2>
      <div class="lastFiveElements">
        <div class="hover" *ngFor="let drink of lastFiveDrinks" >
          <a (click)="onSelectDrink(drink)">
          <div class="lastFiveName">{{drink.name}}</div>
          <div class="lastFiveAuthor">{{drink.authorName}}</div>
          </a>
        </div>
      </div>
    </div>

    <div>
      <h2>Alcohol</h2>
        <mat-selection-list #spirits>
          <mat-list-option *ngFor="let alcohol of typesOfAcohol" (click)="onClickFilter(alcohol)">
            {{alcohol}}
          </mat-list-option>
        </mat-selection-list>
    </div>

    <div>
      <h2>Glass</h2>
      <mat-selection-list #glasses>
          <mat-list-option *ngFor="let glass of typesOfGlass" (click)="onClickFilter(glass)">
            {{glass}}
          </mat-list-option>
        </mat-selection-list>
    </div>
  </div>

  <div
    class="drinkList"
    data-infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
  >
    <div *ngFor="let drink of drinks">
      <div class="drinkListItem">
        <a (click)="onSelectDrink(drink)">
        <img class="drinkImage" src="{{drink.image}}" alt="{drink.name} image">
        <div class="drinkName">{{drink.name}}</div>
        <div class="subHeader">Author: {{drink.authorName}}</div>
        <div class="text">"{{drink.description}}"</div>
        </a>
      </div>
    </div>
  </div>

  
</div>
