<div class="loginDialog" id='loginDialog'>
  <h1 mat-dialog-title id="header">Log In</h1>

  <form [formGroup]='loginForm' (ngSubmit)="loginForm.valid && submitLogin(loginForm.value)">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="loginForm.controls.email.hasError('email')">Not a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>

  </form>
</div>

