.drinkClass{
    display: flex;
    flex-direction: column;
}

.drinkHolder{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerText{
    display: flex;
    flex-direction: column;
}

.image{
    margin-top: 10%;
}

#author{
    margin-top: -2em;
    margin-left: 0.2em;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 3em;
}

h3{
    font-family: 'Barlow', sans-serif;
    font-size: 1.4em;
}

.textContainer{
    display: flex;
    padding-left: 10%;
    flex-direction: column;
}

.text{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

.ingredient{
    display: flex;
    flex-direction: column;
}