<div class="drinkClass">
    
    <button (click)="goBack()">Back to search</button>

    <div class="header">
        <div class="headerText">
            <h2> {{drink.name}} </h2>
            <div class="text" id="author" >By: Arthur</div>
        </div>
        <button>Favorite</button>
    </div>
    <div class="drinkHolder">

        <div class="image">
            <img [src]=drink.image alt="Drink image">
        </div>
        
        <div class="textContainer">
            <h3>Ingrediengs</h3>
                <div *ngFor="let ingredient of drink.ingredients">
                    <div class="text">
                        {{ingredient.quantity}}
                        {{ingredient.measure}}
                        {{ingredient.name}}
                    </div>
                </div>
            <h3>Recipe</h3>
            <div class="text">{{drink.recipe}}</div>
            <h3>Description</h3>
            <div class="text">{{drink.description}}</div>
        </div>
    </div>
</div>