.container{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-between;
}

.logo{
  height: 2em;
}

.userContainer{
  display: flex;
  flex-direction: row;
}

.username{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Raleway';
  font-size: 1.2em;
  font-weight: 200;
  padding-right: 10px;
}

.search{
}

.button{
}
#basic{
  color: black;
}
