<div class="newPasswordDialog">
  <h1 mat-dialog-title id="header">New Password</h1>
  <form [formGroup]='newPasswordForm' (ngSubmit)="newPasswordForm.valid && submitRegistration(newPasswordForm.value)">

    <mat-form-field>
      <input matInput placeholder="Old Password" formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="newPasswordForm.controls.newPassword.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="newPasswordForm.controls.newPassword.hasError('minlength')">Password must contain at least four
        characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword"
             [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="newPasswordForm.controls.confirmPassword.hasError('required')">This field is required
      </mat-error>
      <div *ngIf="newPasswordForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Confirm</button>
  </form>
</div>
