.container{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-left: 10%;
}

mat-form-field{
  width: 80%;
}

#rightContainer{
  flex: 1;
  display: flex;
  margin: 2%;
  flex-direction: column;
}

#leftContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 3%;
  height: 100%;
  width: 100%;
}

img {
  object-fit: contain;
  width: 70%;
  height: auto;

}

mat-toolbar{
  background-color: white;
  margin-left: 8%;
}

hr{
  margin-left: 8%;
  margin-right: 8%;
}

.ingredientField{
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 80%;
}

.ingredientName{
  width: 50%;
  margin-right: 10px;
}

.measurementName{
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;

}

.ingredientNumber{
  width: 25%;
  margin-left: 10px;
}

.ingredientContainer{
  display: flex;
  flex-direction: column;
}

.button{
  width: 30%;
}

textarea{
  height: 100px;
}
